1. What are the two values of the Boolean data type? How do you write them?

In [1]:
"""
There are 2 Boolean data types 
TRUE and FALSE
"""

'\nThere are 2 Boolean data types \nTRUE and FALSE\n'

In [3]:
# Example of TRUE
a = 5
a == 5

True

In [4]:
# Example of TRUE
a = 5
a == 4

False

In [5]:
# We can also use TRUE as 1 and FALSE as 0 in an expresion
True + False

1

In [10]:
# Or
a = 25
b = a + True*10 - (False+2*True)

In [11]:
b

33

2. What are the three different types of Boolean operators?

In [14]:
"""
3 Types of Boolean oprators are 
AND
OR  
NOT
"""

'\n3 Types of Boolean oprators are \nAND\nOR  \nNOT\n'

3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

In [ ]:
"""
Truth Table for AND Operator
A        B        A and B
True  -  True  =  True
False -  True  =  False
True  -  False =  False
False -  False =  False
"""

In [ ]:
"""
Truth Table for OR Operator
A        B        A and B
True  -  True  =  True
False -  True  =  True
True  -  False =  True
False -  False =  False
"""

In [ ]:
"""
Truth Table for NOT Operator
A        not A
True  =  False
False =  True
"""

4. What are the values of the following expressions?
(5 &gt; 4) and (3 == 5)
not (5 &gt; 4)
(5 &gt; 4) or (3 == 5)
not ((5 &gt; 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)

In [15]:
(5 > 4) and (3 == 5)

# So True and False = False

False

In [16]:
not (5>4)

# not True = False

False

In [17]:
(5 > 4) or (3 == 5)

# True or False = True

True

In [18]:
not ((5 > 4) or (3 == 5))

# not (True or False) = not True = False

False

In [19]:
(True and True) and (True == False)

# (True and True) = True
# (True == False) = False
# True and False = False

False

In [20]:
(not False) or (not True)

# not Flase = True
# not True = False
# True or False = True

True

5. What are the six comparison operators?

In [ ]:
"""
1st:- Greater than '>'
Example: 
a > b (means a is greater then b)

2nd:- less then "<"
Example:
a < b (means a is lsser then b)

3rd:- Equal to "=="
Example:
a == b (Means a is equal to b)

4th:- Not equal to "!="
Example:
a != b (Means a is not equal to b)

5th:- Grether then or equal to ">="
Example:
a >= b (Means a is greater then or equal to b)

6th:- Less then or equal to "<="
Example:
a <= b (Mean a is less then or equal to b)
"""

6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

In [ ]:
"""
Assignment operator is to assign a variable to a value o expression
where in an equal to operator is to check whethere 3 statments are equal to each other or not
"""

In [21]:
# Example
a = 5 # Here a is assigned a value 5
a == 4 # here the program will check whether a is equal to 4 or not

False

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print(&#39;eggs&#39;)
if spam &gt; 5:
print(&#39;bacon&#39;)
else:
print(&#39;ham&#39;)
print(&#39;spam&#39;)
print(&#39;spam&#39;)

In [22]:
spam = 0
if spam == 10:         # Block 1 start
    print("eggs")      # Block 1 end
if spam > 5:           # Block 2 start
    print("bacon")     # Block 2 end
else:                  # Block 3 start
    print("ham")
    print("spam")
    print("spam")      # Block 3 end

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [24]:
spam = int(input())
if spam == 1:
    print("Hellow")
if spam == 2:
    print("Howdy")
else:
    print("Greatings")

1
Hellow
Greatings

9. If your programme is stuck in an endless loop, what keys youâ€™ll press?

In [25]:
# Cltr + C to break the end loop

10. How can you tell the difference between break and continue?

In [ ]:
"""
Break statment will terminate the all future iterations of the loop
where as continue will only stop the current iteration and moves to next iteration of the loop
"""

In [26]:
# Example Continue

a = "kush"
for i in a:
    if i == "s":
        continue
    print(i)

k
u
h

In [28]:
# Example Break

a = "kush"
for i in a:
    if i == "s":
        break
    print(i)

k
u

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [29]:
"""
In a for loop range(0,10), range(0,10,1) and range(10) will give the smae output 
because python is taking the 1st 0 and the last 1 as default. 

the first 0 in range(0,10) is the starting point
if we write range(2,10) the value will start form 2 to 10 (Example in line 30)

The 2nd 10 in range(0,10,1) menas the last limit of the position, 
Means the range will go to the 10th position
So we start from 0 and go till 9 (9 will be the 10th postion)
to print the value 10 we have to go with range(11)

and the 3rd 1 means the jump the program will take
By defaulyt its 1, but if we write 2 it will print every 2nd value 
Example in line 31 where it jumps every 3 value
We can also give -1 so it will jump in reverse,
but for -1 we have to change the start point and end position 
Example in line 32
"""
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [30]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [31]:
for i in range(2,20,3):
    print(i)

2
5
8
11
14
17

In [32]:
for i in range(10,2,-2):
    print(i)

10
8
6
4

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [33]:
# with For loop

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
# With while loop

a = 0
while a < 12:
    a = a + 1
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12

13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

In [ ]:
# Will the function bacan() as follows
import spam
a = spam.bacon()